.mydiv{
    background-color:gainsboro;
    color:black;
    border:crimson;
    width:400px;
    height:400px;
}
.heydiv{
    background-color:gainsboro;
    color:black;
    border:crimson;
    width:500px;
    height:700px;

}
